<a href="https://colab.research.google.com/github/ManoharKonala/Python--Practice/blob/main/13_06_Python_MySql_Connectivity.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
!git clone https://github.com/ManoharKonala/Python--Practice.git

Cloning into 'Python--Practice'...
remote: Enumerating objects: 177, done.
remote: Counting objects: 100% (68/68), done.
remote: Compressing objects: 100% (49/49), done.
remote: Total 177 (delta 54), reused 19 (delta 19), pack-reused 109
Receiving objects: 100% (177/177), 128.97 KiB | 1.01 MiB/s, done.
Resolving deltas: 100% (90/90), done.

PYTHON AND MYSQL CONNECTIVITY

Connecting Python to MySQL allows you to interact with your MySQL database directly from your Python applications.

As it allows you to store, retrieve, and manipulate data in a robust and efficient manner. This is especially important for web applications, data analysis, and any situation where persistent data storage is needed.

MySQL seamlessly integrates with Python, allowing for powerful backend processing with libraries like SQLAlchemy, Django ORM, and Flask SQLAlchemy.

# Using mysql-connector-python

In [2]:
#You need to install the MySQL Connector library. You can do this using pip:
%pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-8.4.0-cp310-cp310-manylinux_2_17_x86_64.whl (19.4 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 19.4/19.4 MB 47.5 MB/s eta 0:00:00
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-8.4.0

In [ ]:
# Import the Connector in Your Python Script
import mysql.connector # type:ignore
'''Establish a Connection to the MySQL Database

You need to provide the necessary credentials (host, user, password, and
                                               database name):'''

connection = mysql.connector.connect(
    host='localhost',
    user='root',
    password='manohar*****',
    database='projectt'
)

# cursor allows you to execute SQL queries:

cursor = connection.cursor()

**cursor.execute(create_table_query)** -->Creates table

**cursor.fetchall()**---> Fetches specified table records

**cursor.execute(update_query, (, ))-**-> Updates records in the table

**cursor.execute(delete_query, ())** --> Deletes specified records in the table.

*After changing or modifying data in any way, use **connection.commit()** to commit those changes*

**cursor.close()**--> Closes the cursor

**connection.close()** --> Closes the connection

In [ ]:
import mysql.connector #type:ignore

# Establish the connection
connection = mysql.connector.connect(
    host='localhost',
    user='yourusername',
    password='yourpassword',
    database='yourdatabase'
)

''''Replace localhost with the hostname or IP address of your MySQL server.
Replace username with your MySQL username.
Replace password with your MySQL password.
Replace database_name with the name of the database you want to connect to.
Replace table_name with the name of the table you want to select from.'''''

# Create a cursor object
cursor = connection.cursor()

# Create a table
create_table_query = '''
CREATE TABLE employees (
    id INT AUTO_INCREMENT PRIMARY KEY,
    name VARCHAR(255) NOT NULL,
    position VARCHAR(255),
    salary DECIMAL(10, 2)
)
'''
cursor.execute(create_table_query)

# Insert data into the table
insert_query = '''
INSERT INTO employees (name, position, salary)
VALUES (%s, %s, %s)
'''
employee_data = ('John Doe', 'Software Engineer', 70000)
cursor.execute(insert_query, employee_data)
connection.commit()

# Insert multiple records
multiple_employees = [
    ('Jane Smith', 'Project Manager', 90000),
    ('Mike Johnson', 'Data Analyst', 65000)
]
cursor.executemany(insert_query, multiple_employees)
connection.commit()

# Query data from the table
select_query = 'SELECT * FROM employees'
cursor.execute(select_query)
results = cursor.fetchall()
for row in results:
    print(row)

# Update data in the table
update_query = 'UPDATE employees SET salary = %s WHERE name = %s'
cursor.execute(update_query, (75000, 'John Doe'))
connection.commit()

# Delete data from the table
delete_query = 'DELETE FROM employees WHERE name = %s'
cursor.execute(delete_query, ('John Doe',))
connection.commit()

# Close the connection
cursor.close()
connection.close()

# USING SQLITE3

you do not need to commit transactions when using the sqlite3 library in Python

In [ ]:
import sqlite3

# Connect to the database
conn = sqlite3.connect("my_database.db")

'''Replace my_data.db with the path to your SQLite database file.
Replace localhost, username, password, and my_database with the
appropriate values for your MySQL database.'''

# Create a cursor object
cursor = conn.cursor()

# Execute SQL statements
cursor.execute("SELECT * FROM my_table")

# Fetch the results
rows = cursor.fetchall()

# Close the connection
conn.close()

# USING pymysql

In [7]:
%pip install pymysql

Collecting pymysql
  Downloading PyMySQL-1.1.1-py3-none-any.whl (44 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 45.0/45.0 kB 2.2 MB/s eta 0:00:00
Installing collected packages: pymysql
Successfully installed pymysql-1.1.1

In [ ]:
import pymysql #type:ignore

# Connect to the database
conn = pymysql.connect(host="localhost", user="username", password="password", db="my_database")

# Create a cursor object
cursor = conn.cursor()

# Execute SQL statements
cursor.execute("SELECT * FROM my_table")

# Fetch the results
rows = cursor.fetchall()

# Close the connection
conn.close()

# Using sql extension

The %load_ext sql command in Google Colab loads the sql extension, which allows you to run SQL queries directly in your notebook.

This command does the following:

* Installs the ipython-sql package, which provides the functionality for running SQL queries.
* Sets up the necessary configuration for the extension.
* Creates a new cell magic command called %%sql, which can be used to execute SQL queries.

After loading the sql extension, you can use the %%sql magic command to execute SQL queries against any database that you have access to.

The %%sql magic command in Google Colab allows you to execute SQL queries directly in your notebook.

In [ ]:
%%sql
SQL query
# Where SQL query is the SQL statement that you want to execute.

to connect to a SQLite database file called my_data.db and select all data from the users table, you would use the following commands:

In [ ]:
%load_ext sql

%sql sqlite:///my_data.db
#%sql sqlite:///path/to/database.db

%%sql
SELECT * FROM users;