<a href="https://colab.research.google.com/github/ManoharKonala/Python--Practice/blob/main/06_06_python_basic_and_functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!git clone https://github.com/ManoharKonala/Python--Practice.git

Cloning into 'Python--Practice'...
warning: You appear to have cloned an empty repository.

INPUT AND OUTPUT

In [ ]:
INPUT = input("Enter: ")
print("Welcome,", INPUT)

Enter: This is Python Basics and Functions
Welcome, This is Python Basics and Functions

Data Types

In [ ]:
INT_NUM=12
float_NUM=2.3453
complex_NUM=5+4j
STRING="WELCOME"
boolean_= True
print(type(INT_NUM))
print(type(float_NUM))
print(type(STRING))
print(type(complex_NUM))
print(type(boolean_))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'complex'>
<class 'bool'>

In [ ]:
list_ = [1, 2, 3, 4, 5]
tuple_ = (1, 2, 3, 4, 5)
dictionary_ = {"2": 4, "3": 9}
set_ = {1, 2, 3, 4, 5}
print(type(list_))
print(type(tuple_))
print(type(dictionary_))
print(type(set_))

<class 'list'>
<class 'tuple'>
<class 'dict'>
<class 'set'>

Expressions and Operators

In [ ]:
A=4
B=9
''''Arithemtic Operators'''
print(A+B) #ADDITION
print(A-B) #SUBTRACTION
print(A*B) #MULTIPLICATION
print(A/B) #DIVISION
print(A//B) #FLOOR DIVISION
print(A%B)  #MODULUS
print(A**B) #EXPONENT
''''Comparison Operators'''
print(A == B) # Equal to
print(A != B) # Not equal to
print(A > B)  # Greater than
print(A < B)  # Less than
print(A >= B) # Greater than or equal to
print(A <= B) # Less than or equal to

13
-5
36
0.4444444444444444
0
4
262144
False
True
False
True
False
True

Type Casting

In [ ]:
a=int(64)
b=float(64.45)
c=str(81)
d=list("list")
e=tuple([1,24,43])
f=set([1,2,4,5654,5])
print(a,b,c)
print(d,e,f)

64 64.45 81
['l', 'i', 's', 't'] (1, 24, 43) {1, 2, 4, 5, 5654}

Conditional Statements

In [ ]:
#IF Statement: Executes the block if the condition is true
#ELIF: Checks another condition if the previous one is false
#ELSE: Executes the block if all the conditions are false
A = int(input("Enter a number: "))
B = int(input("Enter another number: "))
if A > B:
  print("A is greater than B")
elif A == B:
  print("A is equal to B")
else:
  print("A is less than B")

Enter a number: 81
Enter another number: 256
A is less than B

Looping Statements

In [ ]:
#FOR LOOP : Checks another condition if the previous one is false
#WHILE LOOP: Executes the block if the condition is true
Numbers = [1, 2, 3, 4, 5]
for num in Numbers:
    print(num,end=" ")

print("\n")

count = 1
while count <= 5:
    print(count,end=" ")
    count += 1

1 2 3 4 5

1 2 3 4 5

Special Functions

In [ ]:
K = [1,2,3,4,5,6,7,8]

# len()
print(len(K)) #Length of the list
# id()
print(id(K)) #Returns the unique identifier (memory address) of an object.
# range()
for i in range(5):
    print(i)
#Size
print("size",len(K))
#Max value
print("maximum value",max(K))
#Min value
print("minimum value",min(K))
#Sort
print("sorted list",sorted(K))
#Type()
print(type(K))

8
139824385170624
0
1
2
3
4
size 8
maximum value 8
minimum value 1
sorted list [1, 2, 3, 4, 5, 6, 7, 8]
<class 'list'>