<a href="https://colab.research.google.com/github/ManoharKonala/Python--Practice/blob/main/06_06_Python_Basic_and_Functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!git clone https://github.com/ManoharKonala/Python--Practice.git

Cloning into 'Python--Practice'...
warning: You appear to have cloned an empty repository.

INPUT AND OUTPUT

In [5]:
INPUT = input("Enter: ")
print("Welcome,", INPUT)

Enter: This is Python Basics and Functions
Welcome, This is Python Basics and Functions

Data Types

In [9]:
INT_NUM=12
float_NUM=2.3453
complex_NUM=5+4j
STRING="WELCOME"
boolean_= True
print(type(INT_NUM))
print(type(float_NUM))
print(type(STRING))
print(type(complex_NUM))
print(type(boolean_))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'complex'>
<class 'bool'>

In [11]:
list_ = [1, 2, 3, 4, 5]
tuple_ = (1, 2, 3, 4, 5)
dictionary_ = {"2": 4, "3": 9}
set_ = {1, 2, 3, 4, 5}
print(type(list_))
print(type(tuple_))
print(type(dictionary_))
print(type(set_))

<class 'list'>
<class 'tuple'>
<class 'dict'>
<class 'set'>

Expressions and Operators

In [12]:
A=4
B=9
''''Arithemtic Operators'''
print(A+B) #ADDITION
print(A-B) #SUBTRACTION
print(A*B) #MULTIPLICATION
print(A/B) #DIVISION
print(A//B) #FLOOR DIVISION
print(A%B)  #MODULUS
print(A**B) #EXPONENT
''''Comparison Operators'''
print(A == B) # Equal to
print(A != B) # Not equal to
print(A > B)  # Greater than
print(A < B)  # Less than
print(A >= B) # Greater than or equal to
print(A <= B) # Less than or equal to

13
-5
36
0.4444444444444444
0
4
262144
False
True
False
True
False
True

Type Casting

In [16]:
a=int(64)
b=float(64.45)
c=str(81)
d=list("list")
e=tuple([1,24,43])
f=set([1,2,4,5654,5])
print(a,b,c)
print(d,e,f)

64 64.45 81
['l', 'i', 's', 't'] (1, 24, 43) {1, 2, 4, 5, 5654}

Conditional Statements

In [17]:
#IF Statement: Executes the block if the condition is true
#ELIF: Checks another condition if the previous one is false
#ELSE: Executes the block if all the conditions are false
A = int(input("Enter a number: "))
B = int(input("Enter another number: "))
if A > B:
  print("A is greater than B")
elif A == B:
  print("A is equal to B")
else:
  print("A is less than B")

Enter a number: 81
Enter another number: 256
A is less than B

Looping Statements

In [24]:
#FOR LOOP : Checks another condition if the previous one is false
#WHILE LOOP: Executes the block if the condition is true
Numbers = [1, 2, 3, 4, 5]
for num in Numbers:
    print(num,end=" ")

print("\n")

count = 1
while count <= 5:
    print(count,end=" ")
    count += 1

1 2 3 4 5

1 2 3 4 5

Special Functions

In [25]:
K = [1,2,3,4,5,6,7,8]

# len()
print(len(K)) #Length of the list
# id()
print(id(K)) #Returns the unique identifier (memory address) of an object.
# range()
for i in range(5):
    print(i)
#Size
print("size",len(K))
#Max value
print("maximum value",max(K))
#Min value
print("minimum value",min(K))
#Sort
print("sorted list",sorted(K))
#Type()
print(type(K))

8
139824385170624
0
1
2
3
4
size 8
maximum value 8
minimum value 1
sorted list [1, 2, 3, 4, 5, 6, 7, 8]
<class 'list'>

*FUNCTIONS IN PYTHON*

In [28]:
#FUNCTION--block of organized, reusable code that performs a specific task.
def exmp_func(func_name):
    print("Hello",func_name)
exmp_func("example function")
#func_name is called a PARAMETER which is a input to function
#return-- Exiting a Function and Returning Values
def add(x, y):
    return x + y
OUTPUt = add(5, 3)
print(OUTPUt)
#when return is executed, the function terminates immediately,
def check_even(number):
    if number % 2 == 0:
        return "Even"
    return "Odd"
OUTPUT = check_even(5)
print(OUTPUT)

Hello example function
8
Odd

PASSING FUNCTION AS ARGUMENTS

In [27]:
#higher-order function-pass a function as an argument to another function
def add(x, y):
    return x + y
def multiply(x, y):
    return x * y
def High_order(func, a, b):
    return func(a, b)
#passing add function as an argument
OUTPUT1 = High_order(add, 5, 3)
print(OUTPUT1)
#passing multiply function as an argument
OUTPUT2 = High_order(multiply, 5, 3)
print(OUTPUT2)

8
15

LAMBDA FUNCTION

In [29]:
#lambda arguments: expression
#it can take any number of arguments, but can only have one expression
SQUARE = lambda y: y*y
SQUARE(5)

25

MAP, FILTER And REDUCE

In [30]:
#MAP-- Applie a function to each element
# map(function, iterable)
LIst =[12,1132,33]
square_root = list(map(lambda x: x**0.5, LIst))
print(square_root)
#FILTER-- returns a new list containg only elements for which condition is true
# filter(function, iterable)
TUple=[-1,2,3,-4,-5]
positive_numbers = list(filter(lambda x: x > 0, TUple))
print(positive_numbers)
#REDUCE--reduces a list to a single value
'''''from functools import reduce
reduce(function, iterable)'''
from functools import reduce
List = [22,33,44,55,66]
summed_list = reduce(lambda x, y: x + y, List)
print(summed_list)

[3.4641016151377544, 33.645207682521445, 5.744562646538029]
[2, 3]
220

LOCAL AND GLOBAL VARIABLES

In [31]:
#Local Variables--accessible within that function.
#Global Variables--accessible throughout, by any function.
x = 10  # global variable
def up():
    x = 20  # local variable
    print("Inside up(), x =", x)
def down():
    global x  # declare x as global
    x = 30
    print("Inside down(), x =", x)

print("Before calling up(), x =", x)  # prints 10
up()
print("After calling up(), x =", x)  # still prints 10
print("Before calling down(), x =", x)  # prints 10
down()
print("After calling down(), x =", x)  # prints 30

Before calling up(), x = 10
Inside up(), x = 20
After calling up(), x = 10
Before calling down(), x = 10
Inside down(), x = 30
After calling down(), x = 30

In [42]:
'''''Create a function Calculate_area(shape, dimensions) that takes the shape
(e.g., "rectangle", "circle") and its dimensions as arguments.
The function should calculate the area based on the shape and return the result.
Implement logic for handling different shapes (rectangle, circle) and
their corresponding dimensions (length, width for rectangle; radius for circle)'''
import math

def Calculate_area(shape, dimensions):
    if shape == "rectangle":
        return dimensions[0] * dimensions[1]
    elif shape == "circle":
        return math.pi * (dimensions[0] ** 2)
    else:
        print (f"Unsupported shape: {shape}")
'''a rectangle, dimensions is a tuple or list containing two elements: the length
and the width. dimensions[0] refers to the first element, which is the length,
and dimensions[1] refers to the second element, which is the width.'''
print(Calculate_area("rectangle", (4, 5)))
print(Calculate_area("circle", (3,)))
print(Calculate_area("triangle", (3, 4)))

20
28.274333882308138
Unsupported shape: triangle
None

In [44]:
''''Create a function reverse_words(text) that takes a string as input.
The function should reverse the order of words in the string while maintaining the order of characters within each word.
 -Return the modified string.
 Hint: Use string methods like split and join to manipulate the words.'''
def reverse_words(original):
    reversed = original[::-1]
    return reversed
reverse_words('PYTHON')

'NOHTYP'

In [45]:
''''Create a function analyze_list(numbers) that takes a list of numbers as input.
The function should calculate and return the following in a dictionary:
Minimum value in the list
Maximum value in the list
Average value in the list (use sum and division)
Use a dictionary to store and return the calculated statistics.
Hint: Utilize built-in functions like min, max, and sum for calculation'''
def analyze_list(numbers):
    min_value = min(numbers)
    max_value = max(numbers)
    average = sum(numbers) / len(numbers)
    calculated_statistics={
        "minimum": min_value,
        "maximum": max_value,
        "average": average
    }
    return calculated_statistics

analyze_list([1, 2, 3, 4, 5])

{'minimum': 1, 'maximum': 5, 'average': 3.0}

In [46]:
''''Create a list of product names (strings).
Define a function filter_short_names(names, max_length)
that takes the list of names and a maximum length as arguments.
Use filter with a lambda function to return a new list containing only names
shorter than the provided max_length.
Hint: The lambda function should check the length of each
name and return True if it's less than max_length.'''
def filter_short_names(names):
  max_length = len(max(names, key=len))
  short_names = list(filter(lambda name: len(name) < max_length, names))
  return short_names
filter_short_names(['apple', 'banana', 'cherry', 'date'])

['apple', 'date']