<a href="https://colab.research.google.com/github/ManoharKonala/Python--Practice/blob/main/10-06-Data%20structures%20in%20python/python_list.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# List

In Python, a list is a collection data type that is ordered and mutable (changeable).
* **Ordered** --> Elements are arranged in ordered manner, each assigned  with a  index number starting from 0.
*   **Indexable** -->Each element can be accessed through their index number (Position)
*  **Mutable** --> A list is changable.
* **Heterogeneous** --> A list need not contain elements of single data type,it can contain elements of different data types.
* **Dynamic** --> The size of a list can be changed during runtime.
* **Iterable** -->  Lists can be looped through (iterated).

 *Methods of a List :*
* append(): Adds an element to the end of the list.
* clear(): Removes all elements from the list.
* copy(): Creates and returns a copy of the list.
* count(): Returns the count of elements that match a specified value.
* extend(): Appends the elements of another iterable (e.g., list, tuple) to the end of the current list.
* index(): Returns the index of the first occurrence of a specified value.
* insert(): Inserts an element at a specified index in the list.
* pop(): Removes and returns the element at a specified position. If index is not specified, it removes the last element.
* remove(): Removes the first occurrence of a specified value from the list.
* reverse(): Reverses the order of elements in the list.
* sort(): Sorts the elements of the list(ascending order by default).

In [8]:
#CREATING A LIST
''''You can create a list by placing elements inside square brackets [],
separated by commas.'''
K = [22,23,2,44,55,66]
print(K)
print(type(K))
print(" ")

#ACCESSING A LIST
print(K[0])
print(K[1])
print(K[2])
print(K[3])
print(K[4])
print(K[5])

print(" ")

# MUTABLE
K[0]=11
print(K)

[22, 23, 2, 44, 55, 66]
<class 'list'>

22
23
2
44
55
66

[11, 23, 2, 44, 55, 66]

In [24]:
# APPEND
a=[1,2,3,3,4,454] #Adds an element to the end of the list
a.append(5)
print(a)

[1, 2, 3, 3, 4, 454, 5]

In [2]:
# CLEAR
a.clear() # Clears the list
print(a)

[]

In [9]:
# COPY
B=[1,2,3,4,5,6] # Creates and returns a copy of the list.
C=B.copy()
print(C)

[1, 2, 3, 4, 5, 6]

In [10]:
# COUNT
B=[1,2,3,4,5,6]  # Counts how many times 3 is repeated
print(B.count(3))

1

In [11]:
# EXTEND
B=[1,2,3,4,5,6]
D=[7,8,9] # Appends the elements of D to the end of B.
B.extend(D)
print(B)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [12]:
# INDEX
B=[1,2,3,4,5,6]
print(B.index(6))

5

In [16]:
# INSERT
B=[1,2,3,4,5,6]
B.insert(2,8) # Inserts an element at a specified index in the list.
print(B)

[1, 2, 8, 3, 4, 5, 6]

In [17]:
# POP
B.pop(2) # Removes and returns the element at a specified position.
print(B)

[1, 2, 3, 4, 5, 6]

In [18]:
# REMOVE
B.remove(5) # Removes the first occurrence of a specified value from the list.
print(B)

[1, 2, 3, 4, 6]

In [19]:
# REVERSE
D=[11,223,43,44,55,76]
D.reverse() # Reverses the order of elements in the list.
print(D)

[76, 55, 44, 43, 223, 11]

In [22]:
# SORT
D=[11,223,43,44,55,76]
D.sort() # ASCENDING ORDER
print(D)

#DESCENDING ORDER
D.sort(reverse=True)
print(D)

[11, 43, 44, 55, 76, 223]
[223, 76, 55, 44, 43, 11]

# List Comprehension

List comprehension is an easy to read and simple way of creating a list from any existing iterable object.

General Syntax of List Comprehension:

list = [expression for item in iterable if condition]
* expression: This is the member itself, a call to a method, or any other valid
expression that returns a value.
* item: The variable that takes the value of the item inside the iterable.
* iterable: A collection of objects to iterate over(eg: list,tuple etc...).
* condition: An option that filters items from the iterable.

In [29]:
# Basic List Comprehension
a=[1,2,3,4,5,6]
b=[i for i in a]
print(b)

# A list comprehension with condition

CAP = [x for x in range(10) if x % 2 == 0]
print(CAP)

# Using Functions in List Comprehension

word = ["I", "Am", "IronMan"]
length = [len(word) for word in word]
print(length)
# Output: [5, 6, 6]

to_get_pairs_using_list_comprehension = [(x, y) for x in range(4) if x % 2 == 0 for y in range(4) if y % 2 != 0]
print(to_get_pairs_using_list_comprehension)

[1, 2, 3, 4, 5, 6]
[0, 2, 4, 6, 8]
[1, 2, 7]
[(0, 1), (0, 3), (2, 1), (2, 3)]

*INDEXING IN LIST*

In [30]:
# POSITIVE INDEX --> Accessing elements from the start of sequence.
POSITIVE_INDEX = [1,2,3,4,5,6]
print(POSITIVE_INDEX[0])
print(POSITIVE_INDEX[1])
print(POSITIVE_INDEX[2])

1
2
3

In [31]:
#NEGATIVE INDEX --> Accessing elements from the end of list.
NEGATIVE_INDEX = [1,2,3,4,5,6]
print(NEGATIVE_INDEX[-1])
print(NEGATIVE_INDEX[-2])
print(NEGATIVE_INDEX[-3])
# Indexing starts from -1 from the other end of the list.

6
5
4

In [32]:
# Retreive -->  Getting the value of an element at a specific index.
Retreive = [1,2,3,4,5,6]
print(Retreive[2])

3

In [33]:
# UPDATE -->  Getting the value of an element.
UPDATE = [1,2,3,4,5,6]
UPDATE[2]=10
print(UPDATE)

[1, 2, 10, 4, 5, 6]

SLICING IN LIST -->
allows you to extract a subset of elements by specifying a range of indices.
***List[start:end]***

*   start: inlcudes the index mentioned
*   end: excludes the index mentioned

In [37]:

List = [1, 2, 3, 4, 5]

# Get elements from index 1 to 3 (exclusive)
K = List[1:4]  # Note that the last index is not included and incrementaion is 1 by default
print(K)  # Output: [2, 3, 4]

# Get elements from the beginning to index 3 (exclusive)
L = List[:4]
print(L)  # Output: [1, 2, 3, 4]

# Get elements from index 2 to the end
M = List[2:]
print(M)  # Output: [3, 4, 5]

[2, 3, 4]
[1, 2, 3, 4]
[3, 4, 5]

In [39]:
# POSITIVE SLICING --> using positive indices for slicing

POSITIVE_SLICING = [1,2,3,4,5,6]
print(POSITIVE_SLICING[1:4])

[2, 3, 4]

In [40]:
# NEGATIVE SLICING --> Using negative indices for slicing

NEGATIVE_SLICING = [1,2,3,4,5,6]
print(NEGATIVE_SLICING[-4:-1])

[3, 4, 5]

In [41]:
# RETREIVE -->  Extracting a portion of the list.
RETREIVE = [1,2,3,4,5,6]
print(RETREIVE[2:5])

[3, 4, 5]

In [42]:
# UPDATE

UPDATE = [1,2,3,4,5,6]
UPDATE[2:5]=[10,11,12]
print(UPDATE)

[1, 2, 10, 11, 12, 6]

In [45]:
# DELETE

DELETE = [1,2,3,4,5,6]
del DELETE[2:5]
print(DELETE)

delete = [1, 2, 3, 4, 5]
delete[1:3] = []  # Delete elements at index 1 and 2
print(delete)

[1, 2, 6]
[1, 4, 5]

In [44]:
# INSERT

INSERT = [1,2,3,4,5,6]
INSERT[2:5]=[10,11,12]
print(INSERT)

[1, 2, 10, 11, 12, 6]

SEARCHING AND SORTING IN LIST

In [49]:
# SEARCHING

SEARCHING = [1,2,3,4,5,6]
if 3 in SEARCHING:
  print("Yes")
print(1 in SEARCHING) # Gives out a boolean value whether given value is there
# or not
print(7 in SEARCHING)

#SORTING
''' Both sort and sorted are used for sorting a list but sorted is used to
create a new list where as sort sorts the given list in place.'''

SORTING = [1,2,3,4,5,6]
new_list = sorted(SORTING)  # Using sorted
print(new_list)

SORTING.sort() # Using sort
print(SORTING)

Yes
True
False
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6]

# SPECIAL METHODS


*   **Reduce** ==> Reduce an iterable to a single value by applying a function cumulatively to the items of the iterable
*   **Filter** ==>constructs an iterator from elements of an iterable for which a function returns true.
*   **Map** ==>applies a given function to all items in an iterable.
* **Zip** ==> makes an iterator that aggregates elements from each of the iterables.

In [50]:
# REDUCE
#syntax
'''from functools import reduce
reduce(function, iterable[, initializer])'''


from functools import reduce

REDUCE = [1, 2, 3, 4, 5]
result = reduce(lambda x, y: x + y, REDUCE)
print(result)  # Output: 15

15

In [51]:
# FILTER
#syntax
'''filter(function, iterable)'''

FILTER = [1, 2, 3, 4, 5]
even_numbers = list(filter(lambda x: x % 2 == 0, FILTER))
print(even_numbers)

[2, 4]

In [52]:
# MAP
#syntax
'''map(function, iterable)'''

MAP = [1, 2, 3, 4, 5]
squared_numbers = list(map(lambda x: x**2, MAP))
print(squared_numbers)

[1, 4, 9, 16, 25]

In [53]:
# ZIP
#syntax
'''zip(*iterables)'''''

ZIP = [1, 2, 3]
ZIP_2 = [4, 5, 6]
zipped = list(zip(ZIP, ZIP_2))
print(zipped)

[(1, 4), (2, 5), (3, 6)]