<a href="https://colab.research.google.com/github/ManoharKonala/Python--Practice/blob/main/10-06-Data%20structures%20in%20python/Set.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# SET


*   a set is an unordered collection of unique elements.
*  set cannot contain duplicate values.
* order of elements in a set undefined.
* sets are useful for performing mathematical set operations like union, intersection, difference, and symmetric difference.

In [1]:
# We can create a set using either curly braces {} or the set() constructor.

SET = {1,2,3,3,4,434}

# Using set()
SeT = set([1,2,3,4,5])

print(SET)
print(SeT)

{1, 2, 3, 4, 434}
{1, 2, 3, 4, 5}

# SET OPERATIONS

In [ ]:
# 1. UNION ==> Returns a new set with all elements from both sets.
# 2. INTERSECTION ==> Returns a new set with elements thatarecommon to both sets
# 3. DIFFERENCE ==> Returns a new set with elements that are in the first set
# but not in the second set.
# 4. SYMMETRIC DIFFERENCE ==> Returns a new set with elements that are in either
# set but not both.

In [2]:
# UNION
'''' This operation returns a new set with all elements from both sets excluding
duplicate elements. '''
# It is denoted "|".

A = {1,22,33,44,5}
B = {1,55,6,7,8}
C = A | B
print(C)

{1, 33, 5, 6, 7, 8, 44, 22, 55}

In [3]:
# INTERSECTION ==> Returns a set with all common elements from both sets.
# It is denoted "&".

A = {1,22,33,44,5}
B = {1,55,6,7,8}
C = A & B
print(C)

{1}

In [4]:
''' DIFFERENCE ==> Returns a set with elements that are in the first set but not
 in the second set and removes all common elements. '''
# It is denoted "-".

A = {1,22,33,44,5}
B = {1,55,6,7,8}
C = A - B
print(C)

{33, 44, 5, 22}

In [5]:
''' SYMETRIC ==> Returns a set which  includes elements that are exclusive to
either set.'''
# It is denoted "^".
A = {1,22,33,44,5}
B = {1,55,6,7,8}
C = A ^ B
print(C)

{33, 55, 6, 7, 8, 5, 22, 44}

In [7]:
# WE can also use set operation using union(),intersection(),difference(),
# symmetric difference().

set1 = {"Tej", "Adi", "Honey"}
set2 = {"Honey", "Naa_bochu", "Swathimuthyam"}

# Union
print(set1.union(set2))

# Intersection
print(set1.intersection(set2))

# Difference
print(set1.difference(set2))

# Symmetric Difference
print(set1.symmetric_difference(set2))

{'Honey', 'Adi', 'Swathimuthyam', 'Tej', 'Naa_bochu'}
{'Honey'}
{'Adi', 'Tej'}
{'Adi', 'Swathimuthyam', 'Tej', 'Naa_bochu'}

*SET METHODS*

In [8]:
# ADD
# This method adds an element to the set.
SET = {100,222,333}
SET.add(4)
print("After adding an element:",SET)

After adding an element: {4, 100, 333, 222}

In [10]:
# REMOVE
# This method removes an element from the set.
SET = {100,222,333}
SET.remove(222)
print("After removing an element:",SET)
# Will raise error if element is not present in given set
SET.remove(2324)

After removing an element: {100, 333}

KeyError: 2324

In [15]:
# DISCARD
# This method removes an element from the set.
SET = {100,222,333}
SET.discard(222)
print("After discarding an element:",SET)
# Will not raise error if element is not present in given set
SET.discard(2324)

After discarding an element: {100, 333}

In [16]:
# POP
# This method removes an arbitrary element from the set.
SET = {100,222,333}
SET.pop()
print("After popping :",SET)
# Will raise an error if set is empty
sett=set()
sett.pop()

After popping : {333, 222}

KeyError: 'pop from an empty set'

In [18]:
# CLEAR
# This method removes all elements from the set.
SET = {100,222,333}
SET.clear()
print("After clearing all elements:",SET)

After clearing all elements: set()

In [19]:
# COPY
# This method returns a copy of the set.
SET = {100,222,333}
SET_copied=SET.copy()
print("After copying :",SET_copied)

After copying : {100, 333, 222}

In [20]:
# UPDATE
# This method adds elements from the specified iterable to the set
SET = {100,222,333}
SET.update([4,5,6])
print("After updating :",SET)

After updating : {4, 5, 100, 6, 333, 222}

In [22]:
# issubset
#  Returns True if the set is a subset of another set
''' A subset of a set A is any set B such that every element of B is also an
element of A. . '''
SET1 = {"SISU",222,100,"THOE"}
SET2 = {"SISU",222}
print(SET1.issubset(SET2))
print(SET2.issubset(SET1))

False
True

In [23]:
# issuperset
# Returns True if the set is a superset of another set.
''' a set is called the superset of another set  if all elements of another set
 are elements of this set .'''
SET1 = {"EDA","MONE","BOOK","THORUKKU"}
SET2 = {"BOOK","THORUKKU"}
print(SET1.issuperset(SET2))
print(SET2.issuperset(SET1))

True
False

In [27]:
# isdisjoint
'''A set is called disjoint if it has no elements in common with another set.'''
# Returns true if the set has no commom elements with the other set.
SET1 = {111,222,100}
SET2 = {"bro"}
print(SET1.isdisjoint(SET2))

True

"IN"

In [28]:
set_IN = {100,222,333}
print(100 in set_IN)
print(10 in set_IN)

True
False

# ADVANCED SET OPERATIONS IN PYTHON

In [33]:
# Cartesian Product

'''Gives a set of all orderd pairs taking each element from both sets in the
ordered pair.'''

# USING ITERTOOLS.PRODUCT
import itertools # IMPORT ITERTOOLS

dan = {1969, 2324}
ajr= {'y', 'no'}

cartesian_product = itertools.product(dan, ajr)

result = list(cartesian_product)
print(result)

# USING SET COMPREHENSION

Dan = {1969, 2324}
Ajr= {'y', 'no'}

cartesian_producTT = {(X,Y) for X in Dan for Y in Ajr}
print(cartesian_producTT)

[(1969, 'no'), (1969, 'y'), (2324, 'no'), (2324, 'y')]
{(2324, 'y'), (1969, 'no'), (1969, 'y'), (2324, 'no')}

In [34]:
# POWER SET

'''Gives a set of all subsets of the given set,including the set itself and null
 set.'''

 # USING ITERTOOLS.COMBINATIONS
import itertools

def power_set(input_set):
    s = list(input_set)
    power_set_list = []
    for r in range(len(s) + 1):
        combinations = itertools.combinations(s, r)
        for subset in combinations:
            power_set_list.append(set(subset))
    return power_set_list

# Example usage
input_set = {1, 2, 3}
result = power_set(input_set)
print(result)

# USING FROZEN SET
def power_set(s):
    if len(s) == 0:
        return {frozenset()}
    element = s.pop()
    subsets = power_set(s)
    return subsets.union({subset.union({element}) for subset in subsets})

my_set = {1, 2, 3}
print(power_set(my_set))

[set(), {1}, {2}, {3}, {1, 2}, {1, 3}, {2, 3}, {1, 2, 3}]
{frozenset({2}), frozenset({2, 3}), frozenset({1, 2, 3}), frozenset({1, 2}), frozenset({3}), frozenset({1}), frozenset(), frozenset({1, 3})}

In [35]:
# FROZEN SET
'''These are immutable versions of sets. Once created, elements cannot be
added or removed.'''

frozen_set = frozenset(["This", "Set_Is", "Frozen"])
print(frozen_set)

frozenset({'This', 'Set_Is', 'Frozen'})