<a href="https://colab.research.google.com/github/ManoharKonala/Python--Practice/blob/main/10-06-Data%20structures%20in%20python/Tuple.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# TUPLE
* a tuple is an ordered collection of immutable elements.
*  tuple allows duplicate values.
*  tuple is immutable means we cannot add or delete a tuple after its creation.
*  tuple can also store different datatypes
* tuple is written with round brackets

In [ ]:
TUPLE = (1,2,2,23)
print(TUPLE)

(1, 2, 2, 23)

In [ ]:
# HETEROGENOUS -- Can store different data types
TUPLE = ("A", 2, 2.22,True)
print(TUPLE)

('A', 2, 2.22, True)

In [ ]:
# Accessing elements through index

TUPLE = ("A", 2, 2.22,True)
print(TUPLE[0])

A

In [ ]:
# SLICING
# print odd indices
TUPLE = ("A",2,2.22,True)
print(TUPLE[1::2])

(2, True)

In [ ]:
# A tuple can be changed into a list or a set.
TUPLE = ("A",2,2.22,True)
print(list(TUPLE))
print(set(TUPLE))

['A', 2, 2.22, True]
{True, 2, 2.22, 'A'}

In [ ]:
#   An error will be raised if an element is added or removed.
TUPLE = ("A",2,2.22,True)
print(TUPLE.add(3))
print(TUPLE.remove(2))

AttributeError: 'tuple' object has no attribute 'add'

In [ ]:
T = tuple(("A", "b", "C"))
print(T)

('A', 'b', 'C')

In [ ]:
# Unpacking with Asterick
'''asterisk can be used to unpack elements from a tuple into separate variables.'''
# Syntax: *variable = tuple
fruits = ("A", "B", "C", "D", "E")

(T, *F, K) = fruits

print(T)
print(F)
print(K)
 # T gets the first element, K gets the last element, and F collects all
 # elements in between.

A
['B', 'C', 'D']
E

BUILT-IN METHODS

In [ ]:
'''COUNT ==>This method returns the number of times a specified value appears in
the tuple.'''
# Syntax: tuple.count(element)

COUNT = (1,2,3,4,5,5,5,666,5,23,24353)
print(COUNT.count(5))

4

In [ ]:
'''INDEX ==>This method returns the index of the first occurrence of the
specified value in the tuple.'''
# Syntax: tuple.index(element)

INDEX = (1,2,3,4,5,5,5,666,5,23,24353)
print(INDEX.index(5))

4

BUILT-IN FUNCTIONS

In [ ]:
# len()
# max()
# min()
# sum()
# sorted()

In [ ]:
# len
'''returns the length of the tuple'''
# Syntax: len(tuple)

LEN = (1,2,3,4,5,5,5,666,5,23,24353)
print(len(LEN))

11

In [ ]:
# max
'''returns the maximum value in the tuple'''
# Syntax: max(tuple)

MAX = (1,2,3,4,5,5,5,666,5,23,24353)
print(max(MAX))

24353

In [ ]:
# min
'''returns the minimum value in the tuple'''
# Syntax: min(tuple)

MIN = (1,0.2,3,4,5,5,5,666,5,23,24353)
print(min(MIN))

0.2

In [ ]:
# sum
'''returns the sum of all the elements in the tuple'''
# Syntax: sum(tuple)

SUM = (1,0.2,3,4,5,5,5,666,5,23,24353)
print(sum(SUM))

25070.2

In [ ]:
# sorted
'''returns a sorted list of elements in the tuple'''
# Syntax: sorted(tuple)

SORT = (1,0.2,3,4,5,5,5,666,5,23,24353)
K = sorted(SORT)
print(K)

[0.2, 1, 3, 4, 5, 5, 5, 5, 23, 666, 24353]

# Tuple Vs List


*   **Tuple**

 * A tuple is an immutable collection of values, meaning its contents cannot be changed after creation.
 * Tuples are defined using parentheses () and elements are separated by commas.
 * Tuples are useful when you need to store a collection of values that shouldn't be modified.

* **List**

 * A list is a mutable collection of values, meaning its contents can be changed after creation.
 * Lists are defined using square brackets [] and elements are separated by commas.
 * Lists are useful when you need to store a collection of values that may need to be modified.

In [31]:
my_list = [1, 2, 3, 4, 5]
print(my_list)  # Output: [1, 2, 3, 4, 5]

# Modifying a list is allowed
my_list[0] = 10
print(my_list)  # Output: [10, 2, 3, 4, 5]

my_tuple = (1, 2, 3, 4, 5)
print(my_tuple)  # Output: (1, 2, 3, 4, 5)

# Trying to modify a tuple will raise an error
my_tuple[0] = 10  # TypeError: 'tuple' object does not support item assignment

[1, 2, 3, 4, 5]
[10, 2, 3, 4, 5]
(1, 2, 3, 4, 5)

TypeError: 'tuple' object does not support item assignment